# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Books-Management\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
